[Unit]
Description=wakeup-fix
 
[Service]
ExecStart=/bin/bash -c '/home/zhao/Documents/Projects/SuspendFix/wakeup.sh'
 
[Install]
WantedBy=multi-user.target
